.toast-container {
    position: fixed;
    width: 1.2rem;
    height: 1.2rem;
    left: 50%;
    top: 50%;
    padding: 0 15px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    z-index: 11800;
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    font-family: 'Helvetica-Neue', 'HelveticaNeue', arial, sans-serif;
    display: none;
    opacity: 0;
    transition: opacity 0.5s;
}

.toast-container.show {
    display: block;
}

.toast-container.fadein {
    opacity: 1;
}

.toast-icon {
    text-align: center;
    margin-top: 0.2rem;
    margin-bottom: 0.05rem;
}

.dui-icon {
    font-size: 0.55rem;
    text-align: center;
}

.toast-msg {
    text-align: center;
    font-size: 0.14rem;
}